a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}

a:active {
    color: white;
}

.imagengris {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);	
}

.imgredonda {
    border-radius: 300px;
    padding: .5em;
}

.fondo1 {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.fondo2 {
    background: rgb(174,204,238);
    background: radial-gradient(circle, rgba(174,204,238,1) 0%, rgba(148,162,233,1) 100%);
}

.certificados {
    cursor: pointer;
}

::selection {
    background: red;
    color: whitesmoke;
}

#contenidoModal {
    text-align: center;
}

.loader {
    border: 1em solid #f3f3f3; /* Light grey */
    border-top: 1em solid #3498db; /* Blue */
    border-radius: 50%;
    width: 7em;
    height: 7em;
    animation: spin 2s linear infinite;
    padding: 3em;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }